@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* font-family: 'Courgette', cursive; */
.Faceboock {
  color: #3434ca;
}

.Twitter {
  color: #8a2c8a;
}

.Instagram {
  color: black;
}

.Youtube {
  color: red;
}
