@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
/* font-family: 'Courgette', cursive; */

$colorMorado: rgb(138, 44, 138);
$redes: (Faceboock:rgb(52, 52, 202), Twitter:$colorMorado, Instagram:black, Youtube:red);

@each $red, $color in $redes {
    .#{$red} {
    color:  $color;}
}
@mixin sizes($width, $heigth){
    width: $width;
    height: $heigth;
}