@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* font-family: 'Courgette', cursive; */
@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* font-family: 'Courgette', cursive; */
.Faceboock {
  color: #3434ca;
}

.Twitter {
  color: #8a2c8a;
}

.Instagram {
  color: black;
}

.Youtube {
  color: red;
}

body {
  background-color: #f8cfd8;
  font-family: "Courgette", cursive;
}

body .debajo {
  background-image: url(Imagenes/encabezado.jpg);
  height: 15vw;
  width: 100%;
  position: absolute;
  z-index: -1;
}

body .encima {
  position: absolute;
  z-index: +1;
  width: 9vw;
  height: 9vw;
  margin-top: 3vw;
  margin-left: 45vw;
}

ul li a {
  margin-top: 15vw;
  color: #8a2c8a;
}

ul li .nav-link {
  text-align: center;
  margin-top: none;
}

.barra {
  display: -ms-grid;
  display: grid;
  height: auto;
  width: 100%;
  background-color: #f85dc9;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.card-title {
  text-align: center;
  color: #8a2c8a;
  background-color: #f8cfd8;
  margin-bottom: 0.5vw;
  margin-top: 0.5vw;
}

h1 {
  text-align: center;
  margin-top: 1.5vw;
}

.animacion {
  -webkit-animation: anima;
          animation: anima;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes anima {
  0% {
    font-size: 25px;
  }
  25% {
    font-size: 20px;
  }
  50% {
    font-size: 15px;
  }
  75% {
    font-size: 20px;
  }
  100% {
    font-size: 25px;
  }
}

@keyframes anima {
  0% {
    font-size: 25px;
  }
  25% {
    font-size: 20px;
  }
  50% {
    font-size: 15px;
  }
  75% {
    font-size: 20px;
  }
  100% {
    font-size: 25px;
  }
}

.card-img-top {
  width: 15rem;
  height: 15rem;
}

.card {
  width: 15rem;
  height: 15rem;
  margin-top: 3.5vw;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

#card1 {
  margin-top: none;
}

#testimonio {
  width: 15rem;
  height: 15rem;
  margin-left: auto;
  margin-bottom: 1vw;
}

h1 {
  color: #8a2c8a;
  text-align: center;
  margin-bottom: 2.5vw;
}

a:link {
  text-decoration: none;
}

h2 {
  text-align: center;
  margin-top: 1.5vw;
  margin-bottom: 2.5vw;
}

.textos {
  margin-left: 2rem;
  margin-right: 2rem;
}

form {
  width: 70%;
}

form fieldset legend {
  font-size: 1.5rem;
  color: #702f6b;
}

form fieldset label {
  font-size: 1rem;
  color: #702f6b;
  margin-top: 0.5vw;
}

form fieldset textarea {
  width: 25rem;
  height: 10rem;
  margin-top: 0.5vw;
}

.map iframe {
  margin-top: 0.8vw;
  height: 15rem;
  width: 25rem;
}

.img-fluid {
  margin-top: 3rem;
}

.embed-responsive-item {
  margin-left: 34.5vw;
  height: 15vw;
  width: 30vw;
}

@media (max-width: 1000px) {
  .embed-responsive-item {
    margin-left: 20vw;
    height: 30vw;
    width: 60vw;
  }
  #testimonio {
    width: 15rem;
    height: 19rem;
  }
}

@media (max-width: 500px) {
  form fieldset textarea {
    width: 20rem;
  }
  .map iframe {
    width: 20rem;
  }
}

@media (max-width: 400px) {
  input#archivo {
    color: transparent;
  }
  #testimonio {
    width: 15rem;
    height: 17rem;
  }
}

@media (max-width: 300px) {
  form fieldset textarea {
    width: 15rem;
  }
  .map iframe {
    width: 15rem;
  }
}

dl {
  margin-left: 3vw;
}

dt {
  margin-bottom: 1vw;
}

p {
  margin-left: 3vw;
  margin-right: 0.5rem;
}

.galeria {
  margin-left: 2rem;
  margin-right: 2rem;
}

footer {
  display: -ms-grid;
  display: grid;
  height: auto;
  width: 100%;
  background-color: orange;
  justify-items: center;
}
/*# sourceMappingURL=style.css.map */