@import url("https://fonts.googleapis.com/css2?family=Courgette&display=swap");
/* font-family: 'Courgette', cursive; */

@import "variables";

body{ 
    background-color: rgb(248, 207, 216);
    font-family: 'Courgette', cursive;
    .debajo{
        background-image: url(Imagenes/encabezado.jpg);
        height: 15vw;
        width: 100%;
        position: absolute;
        z-index: -1;
        }
    .encima{
        position: absolute;
        z-index: +1;
        width: 9vw;
        height: 9vw;
        margin-top: 3vw;
        margin-left: 45vw;
        
    }
}
ul{
    
    li{
        a{
            margin-top: 15vw;
            color: map-get($redes, Twitter);
        }
        .nav-link{
            text-align: center;
            margin-top: none;
        }
    }
}
.barra {
  display: grid;
  height: auto;
  width: 100%;
  background-color: rgb(248, 93, 201);
  justify-items: center;
  align-items: center;
  list-style-type: none;
}
.card-title {
  text-align: center;
  color: rgb(138, 44, 138);
  background-color: rgb(248, 207, 216);
  margin-bottom: 0.5vw;
}
h1 {
  text-align: center;
  margin-top: 1.5vw;

}
.animacion {
  animation: anima;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  animation-duration: 3s;
  animation-delay: 1s;
}
@keyframes anima {
  0% {
    font-size: 25px;
  }

  25% {
    font-size: 20px;
  }
  50% {
    font-size: 15px;
  }

  75% {
    font-size: 20px;
  }
  100% {
    font-size: 25px;
  }
}
.card-img-top {
  @include sizes(15rem, 15rem);
}
.card {
  @include sizes(15rem,15rem);
  margin-top: 3.5vw;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}
.card-title{
  margin-top: 0.5vw;
}
#testimonio{
  @include sizes(15rem,15rem);
  margin-left: auto;
  margin-bottom: 1vw;
}

form {
  fieldset {
    legend {
      font-size: 25px;
      color: rgb(112, 47, 107);
      margin-left: 0.5rem;
    }
    label {
      font-size: 16px;
      color: rgb(112, 47, 107);
      margin-left: 0.5rem;
    }
    textarea {
      width: 400px;
      height: 150px;
      margin-left: 0.5rem;
    }
  }
}
dl {
  margin-left: 0.5rem;
}
p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

footer {
  display: grid;
  height: auto;
  width: 100%;
  background-color: orange;
  justify-items: center;

}
